main {
    display: flex;
    height: 100svh;
}

main>section {
    margin-top: 50px;
    aspect-ratio: 3/4;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

main>section.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>section.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

main>section.grid>.card.menu {
    background-color: whitesmoke;
}

main>section.grid>.card {
    aspect-ratio: 1;
    position: relative;
}

main>section.grid>.card>img {
    padding: 10%;
}

main>section.grid>.card>label {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: x-large;
    width: 100%;
    background-color: #ffffffb8
}

main>nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
    width: 100%;
    justify-content: space-between;
}

.dropdown>button:focus+.dropdown-menu,
.dropdown>button+.dropdown-menu:active {
    display: block;
}